<header>
	<div class="container">
		<nav>
			<span>Bookers</span>
		</nav>
		<nav>
			<ul>
				<li>
      				<%= link_to 'Home', user_path(current_user.id) %>
				</li>
				<li>
					<a>Users</a>
				</li>
				<li>
					<a>Books</a>
				</li>
				<li>
					<a>logout</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div class="body">
	<div class="container">
		<h2>User info</h2>
		<div class=form-body>
		<%= form_for(@user) do |f| %>
			<label class="name">name</label>
			<%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"name" %>
		</div>
		<label class="control-label sr-only" for="inputEmail">Image</label>
    	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
		<%= f.submit "Update User" %>
	<% end %>
	</div>
</div>