<header>
	<div class="container">
		<nav>
			<span>Bookers</span>
		</nav>
		<nav>
			<ul>
				<li>
      				<%= link_to 'Home', user_path(current_user.id) %>
				</li>
				<li>
					<%= link_to 'Users', users_path %>
				</li>
				<li>
					<a>Books</a>
				</li>
				<li>
					<%= link_to 'logout', destroy_user_session_path, method: :delete %>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="body">
	<div class="container">
		<div class="">
			<h2>Users</h2>
			<table>
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				<tbody>
					<tr>
						<% @users.each do |user| %>
						<td>
							<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-tumb" %>
						</td>
						<td>
							<%= user.name %>
						</td>
						<td></td>
					</tr>
					<% end %>
					<%= paginate @books, class: "pagenate" %>
				</tbody>
				</thead>
			</table>
		</div>
	</div>
</div>