<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<%= render 'books/list',books: @books %>
				<div class="col-xs-9">
					<h2>Books</h2>
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
							<th colspan="3"></th>
						</tr>
						<tbody>
							<tr>
								<% @books.each do |book| %>
								<td style="width: 69px;">
									<%= link_to user_path(book.user.id) do %>
										<%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
									<% end %>
								</td>
								<td style="width: 85px;">
									<%= link_to book_path(book.id) do %>
										<%= book.title %>
									<% end %>
								</td>
								<td style="text-align: left;"><%= book.body %></td>
							</tr>
							<% end %>
							<%= paginate @books, class: "pagenate" %>
						</tbody>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>